---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Name }}
  namespace:  {{ .Namespace }}
data:
{{- range $fileName, $fileContents := .ExtraFiles }}
  {{ $fileName }}: |-
    {{- $fileContents }}
{{- end }}
