---
name: build

on:
  workflow_call: {}
  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: load env vars for workflow run
        run: |
          source .github/vars.env
          echo "GO_VERSION=$GO_VERSION" >> "$GITHUB_ENV"
          echo "DEVSPACE_VERSION=$DEVSPACE_VERSION" >> "$GITHUB_ENV"
          echo "GCI_VERSION=$GCI_VERSION" >> "$GITHUB_ENV"
          echo "GOFUMPT_VERSION=$GOFUMPT_VERSION" >> "$GITHUB_ENV"
          echo "GOLANGCI_LINT_VERSION=$GOLANGCI_LINT_VERSION" >> "$GITHUB_ENV"
          echo "GOLINES_VERSION=$GOLINES_VERSION" >> "$GITHUB_ENV"
          echo "GOTESTSUM_VERSION=$GOTESTSUM_VERSION" >> "$GITHUB_ENV"
          echo "HELM_VERSION=$HELM_VERSION" >> "$GITHUB_ENV"

      - name: set up go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: install devspace
        run: |
          curl -L -o devspace \
            "https://github.com/loft-sh/devspace/releases/download/${{ env.DEVSPACE_VERSION}}/devspace-linux-amd64" &&
            install -c -m 0755 devspace /usr/local/bin
        working-directory: /tmp

      - name: install helm
        run: |
          curl -L -o helm.tar.gz \
            "https://get.helm.sh/helm-${{ env.HELM_VERSION}}-linux-amd64.tar.gz"
          tar -zxvf helm.tar.gz
          mv linux-amd64/helm /usr/local/bin/helm
        working-directory: /tmp

      - name: login to ghcr
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: <not on main> build images, don't push
        if: github.ref_name != 'main'
        run: |
          devspace run build --skip-push

      - name: <on main> build and push images and helm chart
        if: github.ref_name == 'main'
        run: |
          devspace run build
          
          helm registry login -u ${{ github.actor }} -p ${{ secrets.GITHUB_TOKEN }} ghcr.io
          
          helm package charts/clicker --version 0.0.0
          helm push clicker-0.0.0.tgz oci://ghcr.io/srl-labs/clabernetes
          
          # patch clicker dep version so its always same as c9s
          sed -i \
            's|    version: (.*)|    version: 0.0.0|g' \
            charts/clabernetes/Chart.yaml
          helm package charts/clabernetes --version 0.0.0
          helm push clabernetes-0.0.0.tgz oci://ghcr.io/srl-labs/clabernetes
