---
name: lint

on:
  workflow_call: {}
  workflow_dispatch: {}

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: load env vars for workflow run
        run: |
          source .github/vars.env
          echo "GO_VERSION=$GO_VERSION" >> "$GITHUB_ENV"
          echo "DEVSPACE_VERSION=$DEVSPACE_VERSION" >> "$GITHUB_ENV"
          echo "GCI_VERSION=$GCI_VERSION" >> "$GITHUB_ENV"
          echo "GOFUMPT_VERSION=$GOFUMPT_VERSION" >> "$GITHUB_ENV"
          echo "GOLANGCI_LINT_VERSION=$GOLANGCI_LINT_VERSION" >> "$GITHUB_ENV"
          echo "GOLINES_VERSION=$GOLINES_VERSION" >> "$GITHUB_ENV"
          echo "GOTESTSUM_VERSION=$GOTESTSUM_VERSION" >> "$GITHUB_ENV"
          echo "HELM_VERSION=$HELM_VERSION" >> "$GITHUB_ENV"

      - name: set up go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: ensure go mod is tidy
        run: |
          git diff --exit-code --name-only go.mod go.sum 2>&1

      - name: install go lint tools
        run: |
          go install mvdan.cc/gofumpt@${{ env.GOFUMPT_VERSION }}
          go install github.com/daixiang0/gci@${{ env.GCI_VERSION }}
          go install github.com/segmentio/golines@${{ env.GOLINES_VERSION }}
          curl -sSfL \
            https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh |
            sh -s -- -b $(go env GOPATH)/bin ${{ env.GOLANGCI_LINT_VERSION }}

      - name: run the linters
        run: make lint

      - name: run trivy - fs
        uses: aquasecurity/trivy-action@0.24.0
        with:
          scan-type: fs
          exit-code: 1
          ignore-unfixed: true
          vuln-type: os,library
          severity: CRITICAL,HIGH
          scanners: config
          skip-dirs: ui/.next,charts,e2e
          # we know launcher/dev/clabverter are using root user, its fine for now!
          skip-files: build/clabverter.Dockerfile,build/launcher.Dockerfile,.develop/dev.Dockerfile
