---
name: test

on:
  workflow_call: {}
  workflow_dispatch: {}

env:
  GO_VERSION: "1.20"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: set up go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: install go test tools
        run: |
          go install gotest.tools/gotestsum@${{ vars.GOTESTSUM_VERSION }}

      - name: run the tests
        run: make test-race
